.board-item, .thread-item, .post-item{
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

main {
  padding: 5px;
}

.thread-card.mdl-card{
  width: 100%;
  margin-bottom: 20px;
}

.error {
  color: red
}
