{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bulletinboard/styles.css' %}">

<div class="">
  <h2>{{ context.data.board.name }}</h2>
  <div class="">
    {% if context.session %}
      {% if context.site_user.can_delete_board %}
        <a href="{% url 'bulletinboard:board' operation='remove' id=context.data.board.id %}">Remove this board</a>
      {% endif %}
      {% if not context.site_user.is_banned %}
        <div class="">
          <form class="" action="{% url 'bulletinboard:thread' operation='create' %}" method="post">
            {% csrf_token %}
            <label for="">Title:
              <input type="text" name="title" value="">
            </label>
            <input type="hidden" name="board" value="{{ context.data.board.id }}">
            <button type="submit" name="submit">Create</button>
          </form>
        </div>
      {% endif %}
    {% endif %}
      <div class="">
        {% for t in context.data.threads_with_recent_post %}
          <div class="thread-item">
            <a href="{% url 'bulletinboard:thread' id=t.thread.id %}">{{ t.thread.title }}</a> {% if t.thread.is_locked == True %}<span>[Locked]</span>{% endif %}
            <br>
            <span>Last reply: {{ t.post.posted_on }}</span> - <span>{{ t.post.posted_by.username }}</span>
          </div>
        {% endfor %}
    </div>
  </div>
  <span>
    {% if context.data.threads_with_recent_post.has_previous %}
      <a href="?page=1">First</a>
      <a href="?page={{ context.data.threads_with_recent_post.previous_page_number }}">Previous</a>
    {% endif %}
    <span>
      Page {{ context.data.threads_with_recent_post.number }} of {{ context.data.threads_with_recent_post.paginator.num_pages }}
    </span>
    {% if context.data.threads_with_recent_post.has_next %}
      <a href="?page={{ context.data.threads_with_recent_post.next_page_number }}">Next</a>
      <a href="?page={{ context.data.threads_with_recent_post.paginator.num_pages }}">Last</a>
    {% endif %}
  </span>
</div>
<a href="{% url 'bulletinboard:index' %}">Go to homepage</a>
