{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bulletinboard/styles.css' %}">

{%if not context.session %}
<div class="">
  <h2>Login</h2>
  <form class="" action="{% url 'bulletinboard:login' %}" method="post">
    {% csrf_token %}
    <label for="username">Username:
      <input id="username" type="username" name="username" value="">
    </label>
    <label for="email">Password:
      <input id="password" type="password" name="password" value="">
    </label>

    <button type="submit" name="submit">Login</button>
  </form>
  <a href="{% url 'bulletinboard:register' %}">Register here</a>
</div>
{% else %}
  <a href="{% url 'bulletinboard:logout' %}">Logout</a>
{% endif %}
<div class="">
  <h2>List of Boards</h2>
  <br>
  {% if context.site_user.can_add_board %}
    <form class="" action="{% url 'bulletinboard:board' 'create' %}" method="post">
      {% csrf_token %}
      <label for="board-name">Name:
        <input id="board-name" type="text" name="name" value="">
      </label>
      <label for="board-position">Position:
        <input id="board-postion" type="text" name="position" value="">
      </label>

      <button type="submit" name="submit">Create</button>
    </form>
  {% endif %}

  {% for d in context.data %}
    <div class="board-item">
      <a href="{% url 'bulletinboard:board' d.board.id %}"><h3>{{ d.board.name }}</h3></a>
      <div class="">
        <span>Number of threads: {{ d.threads_count }}</span> | <span>Number of posts: {{ d.post_count }}</span>
        <br>
        <span>Recent thread: {% if d.recent_thread  %} <a href="{% url 'bulletinboard:thread' d.recent_thread.id %}">{{ d.recent_thread.title }}</a> {% else %} <span>No activity yet</span> {% endif %}</span>
      </div>
    </div>
  {% endfor %}
</div>
