{% load static %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" type="text/css" href="{% static 'bulletinboard/material.css' %}">
<script type="text/javascript" src="{% static 'bulletinboard/material.js' %}">

</script>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Bulletin Board</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Boards</a>
        <a class="mdl-navigation__link" href="">Threads</a>
        <a class="mdl-navigation__link" href="">Login</a>
        <a class="mdl-navigation__link" href="">Register</a>
      </nav>
    </div>
  </header>

  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="mdl-grid">
        {% for board in boards %}
            <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col">
              <div class="mdl-card_title">
                <h2 class="mdl-card__title-text">{{ board.name }}</h2>
              </div>
              <div class="mdl-card__supporting-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Mauris sagittis pellentesque lacus eleifend lacinia...
              </div>
              <div class="mdl-card__actions mdl-card--border">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                  Get Started
                </a>
              </div>
            </div>
        {% endfor %}
      </div>
    </div>
  </main>
</div>
