{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bulletinboard/styles.css' %}">

<form class="" action="{% url 'bulletinboard:register' %}" method="post">
  {% csrf_token %}
  <label for="username">Username:
    <input id="username" type="text" name="username" value="{{ context.data.username }}">
    <span class="error">{{ context.form_errors.username.0 }}</span>
    {% if context.integrity == False %}
      <span class="error">username already taken</span>
    {% endif %}
  </label>
  <br>
  <label for="firstname">Firstname:
    <input id="firstname" type="text" name="first_name" value="{{ context.data.first_name }}">
    <span class="error">{{ context.form_errors.first_name.0 }}</span>
  </label>
  <br>
  <label for="lastname">Lastname:
    <input id="lastname" type="text" name="last_name" value="{{ context.data.last_name }}">
    <span class="error">{{ context.form_errors.last_name.0 }}</span>
  </label>
  <br>
  <label for="email">Email:
    <input id="email" type="email" name="email" value="{{ context.data.email }}">
    <span class="error">{{ context.form_errors.email.0 }}</span>
  </label>
  <br>
  <label for="password">Password:
    <input id="password" type="password" name="password" value="">
    <span class="error">{{ context.form_errors.password.0 }}</span>
  </label>
  <br>
  <button type="submit" name="submit">Register</button>
</form>
<a href="{% url 'bulletinboard:index' %}">Go to homepage</a>
