{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bulletinboard/styles.css' %}">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" type="text/css" href="{% static 'bulletinboard/material.css' %}">

<script type="text/javascript" src="{% static 'bulletinboard/material.js' %}">

</script>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <span class="mdl-layout-title">Bulletin Board</span>
      <div class="mdl-layout-spacer"></div>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Boards</a>
        <a class="mdl-navigation__link" href="">Threads</a>
        <a class="mdl-navigation__link" href="">Login</a>
        <a class="mdl-navigation__link" href="">Register</a>
      </nav>
    </div>
  </header>

  <main class="mdl-layout__content">
    <div class="page-content">
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--2-col">

        </div>
        <div class="threads-content mdl-cell mdl-cell--5-col">
          {%  for thread in threads %}
            <div class="thread-card mdl-card mdl-shadow--2dp">
              <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">{{ thread.title }}</h2>
                <span class="mdl-chip">
                  <span class="mdl-chip__text">{{ thread.board.name }}</span>
                </span>
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="sidebar-content mdl-cell mdl-cell--2-col">

        </div>
        <div class="sidebar-content mdl-cell mdl-cell--3-col">

        </div>
      </div>
    </div>
  </main>
</div>
