{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bulletinboard/styles.css' %}">

<div class="">
  <h2>{{ context.data.thread.title }} - {{ context.data.thread.board.name }}</h2>

  <div class="">
    {% if context.session %}
      {% if context.site_user.can_lock_thread %}
        {% if context.data.thread.is_locked == False %}
          <a href="{% url 'bulletinboard:thread' operation='lock' id=context.data.thread.id %}">Lock this thread</a>
        {% endif %}
      {% endif %}

      {% if context.site_user.can_unlock_thread %}
        {% if context.data.thread.is_locked == True %}
          <a href="{% url 'bulletinboard:thread' operation='unlock' id=context.data.thread.id %}">Unlock this thread</a>
        {% endif %}
      {% endif %}
      {% if context.data.thread.is_locked == False and context.site_user.is_banned == False %}
        <div class="">
          <form class="" action="{% url 'bulletinboard:post' 'create' %}" method="post">
            {% csrf_token %}
            <textarea name="message" rows="8" cols="50"></textarea>
            <br>
            <input type="hidden" name="thread" value="{{ context.data.thread.id }}">
            <button type="submit" name="submit">Post</button>
          </form>
        </div>
      {% endif %}
    {% endif %}
    <div class="">
      {% for post in context.data.posts %}
        <div class="post-item">
          <span> <a href="{% url 'bulletinboard:user' username=post.posted_by.user.username %}">{{ post.posted_by.user.username }}</a>( {{ post.posted_by.user.email }} )</span> - <span>{{ post.posted_on }}</span>
          <p>
            {{ post.message }}
          </p>
        </div>
      {% endfor %}
    </div>
  </div>
  <span>
    {% if context.data.posts.has_previous %}
      <a href="?page=1">First</a>
      <a href="?page={{ context.data.posts.previous_page_number }}">Previous</a>
    {% endif %}
    <span>
      Page {{ context.data.posts.number }} of {{ context.data.posts.paginator.num_pages }}
    </span>
    {% if context.data.posts.has_next %}
      <a href="?page={{ context.data.posts.next_page_number }}">Next</a>
      <a href="?page={{ context.data.posts.paginator.num_pages }}">Last</a>
    {% endif %}
  </span>
</div>
<a href="{% url 'bulletinboard:index' %}">Go to homepage</a>
