{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bulletinboard/styles.css' %}">
<div class="">
  <h2>{{ context.user_profile.user.username }}</h2>
  {% if context.site_user.can_ban_site_user %}
    {% if not context.site_user.is_banned  %}
      <a href="{% url 'bulletinboard:user' operation='ban' username=context.user_profile.user.username %}">Ban this account</a>
    {% endif %}
  {% endif %}

  {% if context.site_user.can_unban_site_user %}
    {% if context.site_user.is_banned %}
      <a href="{% url 'bulletinboard:user' operation='unban' username=context.user_profile.user.username %}">Unban this account</a>
    {% endif %}
  {% endif %}
  <div class="">
    {% for post in context.data.posts %}
      <div class="post-item">
        <span>{{ post.posted_on }}</span>
        <p>
          {{ post.message }}
        </p>
      </div>
    {% endfor %}
  </div>
  <span>
    {% if context.data.posts.has_previous %}
      <a href="?page=1">First</a>
      <a href="?page={{ context.data.posts.previous_page_number }}">Previous</a>
    {% endif %}
    <span>
      Page {{ context.data.posts.number }} of {{ context.data.posts.paginator.num_pages }}
    </span>
    {% if context.data.posts.has_next %}
      <a href="?page={{ context.data.posts.next_page_number }}">Next</a>
      <a href="?page={{ context.data.posts.paginator.num_pages }}">Last</a>
    {% endif %}
  </span>
</div>
<a href="{% url 'bulletinboard:index' %}">Go to homepage</a>
